## .NET / Visual Studio / Rider

# Build results
bin/
obj/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Ll]og/
[Ll]ogs/
out/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# Visual Studio cache/options
.vs/

# Rider
.idea/
*.sln.iml

# NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets
project.lock.json
project.fragment.lock.json
artifacts/

# ASP.NET
wwwroot/lib/
appsettings.*.local.json
secrets.json

# Test results
[Tt]est[Rr]esult*/
*.trx
*.coverage
*.coveragexml

# Rider/ReSharper DotSettings user files
*.DotSettings.user

## macOS
.DS_Store
